<div class="jumbotron center">
	<h1>Welcome to MyRecipies App</h1>
	<h2>
		The professional rails developer course on Udemy.
	</h2>
	<%= link_to "Sign up Now!", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
	<div class="col-lg-4">
		<h3 class="midrow">
			View Recipes as Guest User
		</h3>
		<h2 class="left">
			Browse and view recipes as guest and sign up later.
		</h2>
		<p><%= link_to "Browse Recipes Listings", recipes_path, class: "btn btn-warning btn-small" %></p>
	</div>
	<div class="col-lg-4">
		<h3 class="midrow">
			View Recipes as Guest User
		</h3>
		<h2 class="left">
			Browse and view recipes as guest and sign up later.
		</h2>
		<p><%= link_to "Browse Recipes Listings", '', class: "btn btn-warning btn-small" %></p>
	</div>
	<div class="col-lg-4">
		<h3 class="midrow">
			View Recipes as Guest User
		</h3>
		<h2 class="left">
			Browse and view recipes as guest and sign up later.
		</h2>
		<p><%= link_to "Browse Recipes Listings", '', class: "btn btn-warning btn-small" %></p>
	</div>
</div>